

#container{
    width: 800px;
    height: 0px;
    display: grid;
    grid-template-columns: repeat(16, 50px);
    grid-template-rows: repeat(16, 50px);
    


}

.box{

    background-color: white;
    border: 1px solid black;
    
}

/* div.box:hover{
    background-color: green;
} */


h1{
    color:blue
}

#clear{
    margin-left: auto;
    margin-right: auto;
    display: block;
}